@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* SUPERINFO */
.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px;
}

.superinfo a {
  color: white;
}

/* MENU */
.menu-bg {
  background: #2c70ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu a {
  color: white;
}

.menu-logo a {
  margin: 0 10px;
  font-size: 2.25rem;
  font-weight: bold;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  padding: 10px;
  font-size: 1.25rem;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* INTRO */
.introducao {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
  font-size: 3rem;
  line-height: 1;
}

/* ABOUT */
.sobre {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  padding: 60px 0;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.sobre-info p {
  margin-bottom: 1rem;
  color: #7c7c7c;
  font-size: 1.25rem;
  line-height: 1.4;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* PRODUTOS */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  margin: 0 10px 60px;
  font-size: 3rem;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  padding: 60px 20px;
  background-color: #f7f7f7;
  color: #a4a4a4;
  font-size: 3rem;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}
